<nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Debt/List">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Account/ProfileScreen">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Account/Logout">Logout</a>
                </li>
                @*  <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Account/ViewOrder">View Cart</a>
                </li> *@
              

            </ul>


        </div>
    </div>
</nav>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
